.App {
  text-align: center;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190617/ourmid/pngtree-campus-event-poster-promotion-background-material-image_127242.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 140vh;
  margin: -0.5rem -0.5rem -1rem;
}

nav{
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  align-items: center;
  font-size: large;
  padding: 0rem 2rem;
  border-bottom: 2px solid black;
}

.navLink{
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  padding-left: 2rem;
  border-left: 2px solid black;
}